.note, .question, .flag, .walkthrough {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: left top;
  background-origin: content-box;
  padding-top: 10px;
  min-height: 70px;
}

.note {
  border: 1pt solid #5A82AA;
  background-color: #f0f7fd;
  background-image: url("images/icons/note.png");
}


.intro {
  font-weight: bold;
  text-align: center;
  font-size: 1.15em;
}

pre {
    color: #000000 !important;
    border: none !important;
}

.bg-danger {
    background-color: #5A82AA !important;
    border: 1px solid #E13D12!important;
}

.bg-warning {
    background-color: #f39c1299 !important;
    border: 1px solid #f39c12 !important;
}

.bg-success {
    background-color: #18bc9c99 !important;
    border: 1px solid #18bc9c !important;
}

.pdf {
  width: 800px;
  height: 600px;
}

#footer {
  margin-top: 50px;
}

#footer img {
  box-shadow: none;
  margin: 20px auto 0 auto;
  max-width: 150px;
}

.cc-licence {
  float: left;
  margin: 0 10px 0 0 !important;
}

h1 {
  display: none;
}

h2, h3 {
  margin-top: 0px;
}

.section h3, .section h2 {
  padding: 10px !important;
  margin-top: 50px !important;
}

.section h3 {
  border-left: 2px solid #5A82AA;
}

.section h2 {
  border-left: 3px solid #5A82AA;
}


#BannerContainer {
  background-color: #fff;
}

.event-logo {
  width: 40% !important;
  display: block;
  margin: 0;
  box-shadow: none;
  float: right;
}

a:link, a:visited, a:hover, a:active {
  color: #8cacd4 !important;
}

.navbar a:link, .navbar a:visited, .navbar a:active {
  color: #ffffff !important;
}

.navbar a:hover {
  color: #E13D12!important;
}

#rmd-show-all-code, #rmd-hide-all-code, #rmd-download-source {
  color: #ffffff !important;
}

#header {
    padding-top: 30px !important;
}

.dropdown-menu {
  background-color: #5A82AA!important;
}

.active {
  background-color: #5A82AA!important;
}

.active > a, .open > a {
  background-color: #E13D12 !important;
}

.navbar .active a:hover, .navbar .open a:hover {
  color: #ffffff !important;
}

.dropdown-menu > li > a:hover {
  background-color:#E13D12!important;
}

.navbar-default {
  background-color:#5A82AA!important;
}

.figure p {
  display: none;
}

img {
  margin: 20px auto 20px 20px;
}

.important {
  color: #8b0000;
}

.md-table > table > tbody > tr > td {
  padding:1em 1em 0 0;
  vertical-align: top;
}

.md-table > table > colgroup > col{
  width: auto;
}

.schedule-table > table > tbody > tr > td {
  border: 2px solid #FBFAFA;
  padding:1em;
  vertical-align: top;
  border-radius: 5px;
  font-weight: bold;
}



